<header class="bg-white">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between">
        <h1 class="text-3xl font-bold text-gray-900">
            LIST DANH MỤC SẢN PHẨM
        </h1>
        <a routerLink="add" class="sm:ml-3">
            <button type="button" class="btn btn-outline-info">
                ADD DANH MỤC
            </button>
        </a>
    </div>
</header>



<main>
    <section class="intro">
        <div class="bg-image h-100" style="background-color: #6095F0;">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">TÊN</th>
                                                    <th scope="col">ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let cate of category; let i = index">
                                                <tr>
                                                    <td>{{ cate.id }}</td>
                                                    <td>{{ cate.name }}</td>
                                                    <td>
                                                        <button class="btn btn-outline-dark mr-2"
                                                            routerLink="{{ cate.id }}"><i class="fa fa-pencil"
                                                                aria-hidden="true"></i></button>
                                                        <button class="btn btn-danger text-white"
                                                            (click)="onRemove(cate.id)"><i class="fa fa-times"
                                                                aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
